<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>
<body>
<h2>Tela Cadastro Livros</h2>
Olá {{nome}}!
<img [src]='caminhoImagem'>
<br>
<p *ngIf="mostrarMensagem">esta mensagem é exibida condicionalmente.</p>
<button (click)="toggleMensagem()">Alterar Mensagem</button>

<ul>
  <li *ngFor="let item of listaItens">{{item}}</li>
</ul>

<div [ngClass]="{'destaque':isDestaque, 'erro': hasError}">
  Este elemento tem classes dinamicas!
</div>

<div [ngStyle]="{'background-color':corFundo,'font-size':tamanho}">
  Este elemento tem estilos dinamicos!
</div>

</body>
</html>